@font-face {
  font-family: brandon;
  src: url(../2MASS-J1808-Normal-_personal-use_.ttf);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

.icon {
  width: 32px;
}

.tag {
  font-size: 14px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #030303;
}

section,
footer,
header,
main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .wrapper,
footer .wrapper,
header .wrapper,
main .wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 8rem 4rem;
}

button {
  background-color: #030303;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 2px solid #030303;
  transition: opacity 500ms;
  border-radius: 2rem;
}
button:hover {
  opacity: 0.7;
  transition: opacity 500ms;
}

h1 {
  font-family: brandon !important;
  font-size: 64px;
  line-height: clamp(52.8px, 70.4px, 5.5vw);
  font-size: clamp(48px, 64px, 5vw) !important;
  font-weight: 200;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  transition: -webkit-clip-path 300ms ease-in-out;
  transition: clip-path 300ms ease-in-out;
  transition: clip-path 300ms ease-in-out, -webkit-clip-path 300ms ease-in-out;
}
h1 span {
  color: #55B8FF;
  font-style: italic !important;
  font-weight: 400;
  transition: 500ms ease-in-out;
}
@media (max-width: 1166px) {
  h1 {
    font-size: 64px;
    line-height: clamp(44px, 52.8px, 7.15vw);
    font-size: clamp(40px, 48px, 6.5vw) !important;
  }
}

h2 {
  font-family: brandon, sans-serif !important;
  font-size: 40px;
  line-height: 44px;
  font-weight: auto;
  font-weight: 200;
}
h2 span {
  color: #55B8FF;
  font-style: italic !important;
  font-weight: 400;
}

h3 {
  font-family: brandon, sans-serif !important;
  line-height: clamp(22px, 44px, 2.2vw) !important;
  font-size: clamp(20px, 40px, 2vw) !important;
  text-align: left;
  font-weight: 200;
}
h3 span {
  color: #55B8FF;
  font-style: italic !important;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 25.6px;
  line-height: clamp(22.4px, 25.6px, 1.84vw) !important;
  font-size: clamp(14px, 16px, 1.15vw) !important;
}

.loader {
  position: fixed;
  background-color: white;
  height: 100vh;
  z-index: 10;
}
.loader #loader {
  width: 200px;
}
.loader #loader #white-circle {
  animation: spin 3000ms infinite ease-out;
  transform-origin: center;
}

@keyframes spin {
  to {
    rotate: 360deg;
  }
}
/****** Dropdown ******/
.dropdown {
  position: relative !important;
  display: none;
  z-index: 1000 !important;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: calc(100% + 0.5rem);
  padding: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: -moz-max-content;
  width: max-content;
  opacity: 0;
  transform: translateY(-1rem);
  transition: opacity 0.5s, transform 0.5s;
  pointer-events: none;
  gap: 2rem;
  border-radius: 0.5rem;
}

.dropdown-heading > a {
  font-weight: 700 !important;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dropdown-links a {
  font-weight: 300 !important;
}

.div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menu {
  width: 30px;
  display: none;
  cursor: pointer;
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
  transition: opacity 0.5s, transform 0.5s;
}

.menu + .dropdown-menu {
  padding-block: 2rem;
  display: none;
}

.dropdown-heading > p {
  font-weight: 700 !important;
}

.dropdown > a {
  font-weight: 300 !important;
}

@media (max-width: 1024px) {
  nav ul {
    display: none !important;
  }
  .dropdown {
    display: block;
  }
  .menu + .dropdown-menu {
    padding-block: 2rem;
    display: grid;
  }
  .menu {
    display: block;
  }
  header button {
    display: none;
  }
  nav {
    display: flex;
    justify-content: flex-end;
  }
}
@media (max-width: 500px) {
  .header-wrapper {
    padding-inline: 1rem;
  }
  .dropdown-menu {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 700px) {
  main .wrapper,
  footer .wrapper,
  section .wrapper,
  header .wrapper {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  main .wrapper,
  footer .wrapper,
  section .wrapper,
  header .wrapper {
    padding-inline: 1rem;
  }
}
header .header-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 0.5rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-wrapper nav {
  width: 40%;
}
header .header-wrapper nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 16px;
}
header .header-wrapper nav ul li {
  font-size: 14px;
  font-weight: 300;
  width: 15ch;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-wrapper .header-button {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .header-wrapper .logo-container {
  width: 30%;
}
@media (max-width: 700px) {
  header .header-wrapper {
    padding-inline: 2rem !important;
  }
}
@media (max-width: 500px) {
  header .header-wrapper {
    padding-inline: 1rem !important;
  }
}

main {
  background-image: linear-gradient(to top, rgba(3, 3, 3, 0.6156862745), rgba(3, 3, 3, 0.6156862745) 120%), url(../../public/images/installations-hero.png);
  color: white;
  background-size: cover;
  background-position: right;
}
main .wrapper {
  padding-block: 24rem 2rem;
  -webkit-padding-after: 4rem;
          padding-block-end: 4rem;
  display: flex;
  align-items: flex-end;
  gap: 0rem;
  height: 90svh;
  max-height: 1000px;
}
main .wrapper .main-left {
  width: 80%;
}
main .wrapper .main-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  width: 20.1%;
}
main .wrapper .main-right p {
  transform: translateY(50%);
  opacity: 0;
}
main .wrapper .main-right button {
  transform: translateY(50%);
  opacity: 0;
}
@media (max-width: 1166px) {
  main .wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 2rem;
  }
  main .wrapper .main-right {
    display: none;
  }
  main .wrapper .main-right p {
    max-width: 42ch;
  }
  main .wrapper .main-left {
    width: 100%;
  }
}
@media (max-width: 700px) {
  main .wrapper {
    padding-inline: 2rem;
  }
}
@media (max-width: 600px) {
  main {
    background-image: linear-gradient(to top, rgba(3, 3, 3, 0.6156862745), rgba(3, 3, 3, 0.6156862745) 120%), url(../../public/images/installations-hero.png);
  }
  main .wrapper {
    padding-inline: 2rem;
    padding-top: 0rem;
    height: 90svh;
    max-height: 775px;
    justify-content: flex-end;
  }
}
@media (max-width: 500px) {
  main .wrapper {
    padding-inline: 1rem;
  }
}

@media (max-width: 600px) {
  .main-left-below-title {
    flex-direction: column;
    align-items: flex-start !important;
  }
}
.all-services-gallery-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8rem;
}
.all-services-gallery-section .wrapper h2 {
  max-width: 10ch;
}
.all-services-gallery-section .wrapper .swiper-pagination {
  position: static !important;
  margin-top: -4rem;
}
.all-services-gallery-section .wrapper .mySwiper {
  width: 100%;
}
@media (min-width: 1024px) {
  .all-services-gallery-section .wrapper .mySwiper {
    pointer-events: none;
  }
}
.all-services-gallery-section .wrapper .mySwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.all-services-gallery-section .wrapper .mySwiper .swiper-slide p {
  text-align: left;
}
.all-services-gallery-section .wrapper .mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(100% 100%, 0 100%, 0 100%, 100% 100%);
          clip-path: polygon(100% 100%, 0 100%, 0 100%, 100% 100%);
  transition: -webkit-clip-path 500ms ease-in-out;
  transition: clip-path 500ms ease-in-out;
  transition: clip-path 500ms ease-in-out, -webkit-clip-path 500ms ease-in-out;
}
@media (max-width: 600px) {
  .all-services-gallery-section .wrapper .mySwiper .swiper-wrapper .swiper-slide h3 {
    font-size: 14px !important;
  }
  .all-services-gallery-section .wrapper .mySwiper .swiper-wrapper .swiper-slide p {
    font-size: 12px !important;
    line-height: 1.6 !important;
  }
}

.big-grid-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8rem;
}
.big-grid-section .wrapper .big-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 6rem;
  width: 100%;
}
.big-grid-section .wrapper .big-grid .big-grid-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.big-grid-section .wrapper .big-grid .big-grid-item .big-grid-text-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.big-grid-section .wrapper .big-grid .big-grid-item .big-grid-text-top p.tagline {
  font-size: 16px !important;
  font-weight: 500 !important;
}
.big-grid-section .wrapper .big-grid .big-grid-item .big-grid-text-top p:not(.tagline) {
  font-size: 14px !important;
}
.big-grid-section .wrapper .big-grid .big-grid-item p {
  max-width: 32ch;
}
@media (max-width: 1050px) {
  .big-grid-section .wrapper .big-grid {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  .big-grid-section .wrapper .big-grid .big-grid-item .big-grid-text-top {
    flex-direction: column;
    align-items: flex-start;
  }
  .big-grid-section .wrapper .big-grid .big-grid-item .big-grid-text-top p:not(.tagline) {
    -webkit-margin-before: 0.5rem;
            margin-block-start: 0.5rem;
  }
}
@media (max-width: 700px) {
  .big-grid-section .wrapper .big-grid {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  .big-grid-section .wrapper .big-grid .big-grid-item .big-grid-text-top {
    flex-direction: column;
    align-items: flex-start;
  }
  .big-grid-section .wrapper .big-grid .big-grid-item .big-grid-text-top p.tagline {
    font-size: 14px !important;
  }
  .big-grid-section .wrapper .big-grid .big-grid-item .big-grid-text-top p:not(.tagline) {
    font-size: 12px !important;
  }
  .big-grid-section .wrapper .big-grid .big-grid-item > p {
    font-size: 14px !important;
  }
}
@media (max-width: 500px) {
  .big-grid-section .wrapper .big-grid {
    grid-template-columns: 1fr;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  .big-grid-section .wrapper .big-grid .big-grid-item .big-grid-text-top {
    flex-direction: column;
    align-items: flex-start;
  }
  .big-grid-section .wrapper .big-grid .big-grid-item .big-grid-text-top p.tagline {
    font-size: 14px !important;
  }
  .big-grid-section .wrapper .big-grid .big-grid-item .big-grid-text-top p:not(.tagline) {
    font-size: 12px !important;
  }
  .big-grid-section .wrapper .big-grid .big-grid-item > p {
    font-size: 14px !important;
  }
}

.two-column-section .wrapper .two-column-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.two-column-section .wrapper .two-column-grid .two-column-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.two-column-section .wrapper .two-column-grid .two-column-left .two-column-left-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.two-column-section .wrapper .two-column-grid .two-column-left .two-column-left-top h3 {
  -webkit-margin-before: 2rem;
          margin-block-start: 2rem;
}
.two-column-section .wrapper .two-column-grid .two-column-left .two-column-left-top p.tagline {
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
}
.two-column-section .wrapper .two-column-grid .two-column-left .two-column-left-bottom {
  -webkit-margin-before: 50%;
          margin-block-start: 50%;
}
.two-column-section .wrapper .two-column-grid .two-column-left .two-column-left-bottom button {
  background-color: transparent;
  color: #030303;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: none;
  padding: 0;
  -webkit-margin-before: 2rem;
          margin-block-start: 2rem;
}
.two-column-section .wrapper .two-column-grid .two-column-right {
  width: auto;
}
.two-column-section .wrapper .two-column-grid .two-column-right img {
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  transition: -webkit-clip-path 300ms ease-in-out;
  transition: clip-path 300ms ease-in-out;
  transition: clip-path 300ms ease-in-out, -webkit-clip-path 300ms ease-in-out;
}
@media (max-width: 590px) {
  .two-column-section .wrapper .two-column-grid {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}

.cta-section {
  background-image: linear-gradient(to top, rgba(3, 3, 3, 0.6156862745), rgba(3, 3, 3, 0.6156862745)), url(../../public/images/cta-image.png);
  background-size: cover;
  height: 105lvh;
  max-height: 1000px;
  color: white;
  border-radius: 2rem 2rem 0rem 0rem;
  background-attachment: fixed;
}
@media (max-width: 500px) {
  .cta-section {
    background-attachment: scroll !important;
  }
}
.cta-section .wrapper {
  text-align: center;
}
.cta-section .wrapper button {
  background-color: #ffffff;
  color: #030303;
  transform: translateY(4rem);
  opacity: 0;
  border: 2px solid #ffffff;
}
.cta-section .wrapper h2 {
  font-size: 40px;
  line-height: 48px;
  max-width: 12ch;
  margin: auto;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
  transform: translateY(4rem);
  opacity: 0;
}

footer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
footer .wrapper .footer-top {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 4rem;
}
footer .wrapper .footer-top .footer-top-left {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  flex: 1 0 0;
}
footer .wrapper .footer-top .footer-top-left .column ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
footer .wrapper .footer-top .footer-top-right {
  flex: 0.5;
}
footer .wrapper .footer-top .footer-top-right img {
  width: 100%;
}
footer .wrapper .footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-top: 0.5px solid black;
  -webkit-padding-before: 4rem;
          padding-block-start: 4rem;
}
footer .wrapper .footer-bottom p {
  font-size: 14px !important;
}
@media (max-width: 1024px) {
  footer .footer-top-left {
    gap: 4rem;
  }
  footer .column:nth-child(1) {
    grid-row: 1;
  }
  footer .column:nth-child(2) {
    grid-row: 2;
  }
  footer .column:nth-child(3) {
    grid-row: 2;
  }
  footer .column:nth-child(4) {
    grid-row: 2;
  }
}
@media (max-width: 879px) {
  footer .footer-top-left {
    gap: 4rem;
  }
  footer .column:nth-child(1) {
    grid-row: 1;
  }
  footer .column:nth-child(2) {
    grid-row: 2;
  }
  footer .column:nth-child(3) {
    grid-row: 2;
  }
  footer .column:nth-child(4) {
    grid-row: 2;
  }
  footer .footer-top-left {
    width: 100%;
  }
  footer .footer-top {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 546px) {
  .footer-top-left {
    grid-template-columns: 1fr !important;
  }
  .footer-top-left .column:nth-child(1) {
    grid-row: 1;
  }
  .footer-top-left .column:nth-child(2) {
    grid-row: 2;
  }
  .footer-top-left .column:nth-child(3) {
    grid-row: 3;
  }
  .footer-top-left .column:nth-child(4) {
    grid-row: 4;
  }
  .footer-top-left .column {
    width: 100% !important;
  }
}
html,
body {
  overflow-x: hidden !important;
}/*# sourceMappingURL=style.css.map */