$light-blue:#55B8FF;
$dark-blue:#0460BB;
$extra-light-blue:#F5FBFF;
$black:#030303;
$white:#ffffff;
$h1:64px;
$mobile-h1:48px;
$h2:40px;
$mobile-h2:32px;
$h3:40px;
$mobile-h3:32px;
$base-font:16px;
$mobile-base:14px;
$tagline:14px;
$mobile-tagline:12px;

@font-face {
    font-family:brandon;
    src: url(../2MASS-J1808-Normal-_personal-use_.ttf);
}

// Reset

*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"Montserrat", sans-serif;
}

img {
    width:100%;
}
.icon {
    width:32px;
}
.tag {
    font-size:$tagline;
}
ul {
    list-style:none;
}
a {
    text-decoration:none;
    color:$black;
}
section,
footer,
header,
main {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;

    .wrapper {
        width:100%;
        max-width:1440px;
        padding: 8rem 4rem;
    }
}

// Buttons

button {
    background-color:$black;
    color:$white;
    font-weight:700;
    cursor:pointer;
    padding:1rem 2rem;
    border:2px solid $black;
    transition: opacity 500ms;
    border-radius:2rem;


    &:hover {
        opacity:0.7;
        transition: opacity 500ms;
    }
}

// Fonts

h1 {
    font-family:brandon !important;
    font-size:$h1;
    line-height:clamp(48px * 1.1, $h1 * 1.1, 5vw * 1.1);
    font-size:clamp(48px, $h1, 5vw)!important;
    font-weight:200;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transition: clip-path 300ms ease-in-out;


   
    span {
        color:$light-blue;
        font-style: italic !important;
        font-weight:400;
        transition: 500ms ease-in-out;

    }   
    
    @media (max-width:1166px) {
        & {
            font-size:$h1;
            line-height:clamp(40px * 1.1, $mobile-h1 * 1.1, 6.5vw * 1.1);
            font-size:clamp(40px, $mobile-h1, 6.5vw)!important;
        }
    }
}

h2 {
    font-family:brandon, sans-serif !important;
    font-size:$h2;
    line-height: $h2 * 1.1;
    font-weight:auto;
    font-weight:200;



    span {
        color:$light-blue;
        font-style: italic !important;
        font-weight:400;
    }
}
h3 {
    font-family:brandon, sans-serif !important;
    // font-size:$h3;
    // line-height: $h3 * 1.1;
    line-height:clamp(20px * 1.1, $h3 * 1.1, 2vw * 1.1) !important;
    font-size:clamp(20px, $h3, 2vw)!important;
    // font-size:1.75vw !important;
    text-align:left;
    font-weight:200;



    span {
        color:$light-blue;
        font-style: italic !important;
        font-weight:400;

    }
}

p {
    font-size:$base-font;
    line-height:$base-font * 1.6;
    line-height:clamp(14px * 1.6, $base-font * 1.6, 1.15vw * 1.6) !important;
    font-size:clamp(14px, $base-font, 1.15vw)!important;
}

// Loader  

.loader {
    position:fixed;
    background-color:white;
    height:100vh;
    z-index:10;

    #loader {
        width:200px;
        #white-circle {
            animation: spin 3000ms infinite ease-out;
            transform-origin:center;
        }
    }

    
}

@keyframes spin {
    to {
        rotate:360deg;
    }
}

/****** Dropdown ******/

.dropdown {
    position:relative !important;
    display:none;
    z-index:1000 !important;
}
.dropdown-menu {
    position:absolute;
    right:0;
    top:calc(100% + 0.5rem);
    padding:1.5rem;
    background-color:$white;
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.1);
    display:grid;
    grid-template-columns:1fr 1fr;
    width:max-content;
    opacity:0;
    transform:translateY(-1rem);
    transition:opacity 0.5s, transform 0.5s;
    pointer-events:none;
    gap:2rem;
    border-radius:0.5rem;
   
}





.dropdown-heading > a {
    font-weight:700 !important;
}
.dropdown-links {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.dropdown-links a {
    font-weight:300 !important;
}
.div {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.menu {
    width:30px;
    display:none;
    cursor:pointer;
}
.dropdown.active > .link + .dropdown-menu {
    opacity:1;
    transform:translateY(0);
    pointer-events:all;
    transition:opacity 0.5s, transform 0.5s;

}
.menu + .dropdown-menu {
    padding-block:2rem;
    display:none;
}
.dropdown-heading > p {
    font-weight:700 !important;
}
.dropdown > a {
    font-weight:300 !important;
}
@media (max-width:1024px) {
    nav ul {
        display:none !important;
    }
    .dropdown {
        display:block;
    }
    .menu + .dropdown-menu {
        padding-block:2rem;
        display:grid;
    }
    .menu {
        display:block;
    }
    header button {
        display:none;
    }
    nav {
        display:flex;
        justify-content: flex-end;
    }
}
@media (max-width:500px) {
    .header-wrapper {
        padding-inline:1rem;
    }
    .dropdown-menu {
        grid-template-columns:1fr;
    }
}

// Wrapper Media

@media (max-width:700px) {
    main,
    footer,
    section,
    header {
        .wrapper {
            padding-inline:2rem;
        }
        
    }
    
        
    
}
@media (max-width:500px) {
    main,
    footer,
    section,
    header {
        .wrapper {
            padding-inline:1rem;
        }
    }
}

// Header

header {
    .header-wrapper {
        width:100%;
        max-width:1440px;
        padding:0.5rem 4rem;
        display:flex;
        align-items: center;
        justify-content: space-between;

        nav {
            width:40%;

            ul {
                display:flex;
                align-items: center;
                justify-content: center;
                gap:2rem;
                font-size:16px;

                li {
                    font-size:14px;
                    font-weight:300;
                    width:15ch;
                    display:flex;
                    align-items: center;
                    justify-content: center;

                }
            }
        }

        .header-button {
            width:30%;
            display:flex;
            align-items: center;
            justify-content: flex-end;
        }


        .logo-container {
            width:30%;
        }
    }
    @media(max-width:700px) { 
        .header-wrapper {
            padding-inline:2rem !important;
        }
    
}
    @media(max-width:500px) { 
        .header-wrapper {
            padding-inline:1rem !important;
        }
    
}
}

// Main

main {
    background-image: linear-gradient(to top, #0303039d, #0303039d 120%), url(../../public/images/installations-hero.png);
    color:white;
    background-size:cover;
    background-position:right;

    .wrapper {
        padding-block:24rem 2rem;
        padding-block-end:4rem;
        display:flex;
        align-items: flex-end;
        gap:0rem;
        height:90svh;
        max-height:1000px;

        .main-left {
            width:80%;
        }

        .main-right {
            display:flex;
            flex-direction: column;
            align-items: flex-start;
            gap:2rem;
            width:20.1%;
            p {
                transform:translateY(50%);
                opacity:0;
            }

            button {
                transform:translateY(50%);
                opacity:0;
            }
        }
    }

    @media (max-width:1166px) {
        .wrapper {
            flex-direction: column;
            align-items: flex-start;
            gap:2rem;

            .main-right {
                    display:none;

                    p {
                        max-width:42ch;
                    }
            }

            .main-left {
                width:100%;
            }

            
        }
    }

    @media (max-width:700px) {
        .wrapper {
            padding-inline:2rem;
        }
    }
    @media (max-width:600px) {

        & {
            background-image: linear-gradient(to top, #0303039d, #0303039d 120%), url(../../public/images/installations-hero.png);

        }
        .wrapper {
            padding-inline:2rem;
            padding-top:0rem;
            height:90svh;
            max-height:775px;
            justify-content: flex-end;
        }
    }
    @media (max-width:500px) {
        .wrapper {
            padding-inline:1rem;
        }
    }
}
@media  (max-width:600px) {
    .main-left-below-title {
        flex-direction: column;
        align-items: flex-start !important;
    }
}

// All Services Gallery

.all-services-gallery-section {
    .wrapper {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        gap:8rem;

        h2 {
            max-width:10ch;
        }

        .swiper-pagination {
            position:static !important;
            margin-top:-4rem;
        }
        
        
        
         .mySwiper {


    @media (min-width:1024px) {
        & {
            pointer-events:none;

        }
    }
            width: 100%;
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap:1rem;

                p {
                    text-align:left;
                }
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    clip-path: polygon(100% 100%, 0 100%, 0 100%, 100% 100%);
                    transition: clip-path 500ms ease-in-out;
                  }
              }
        }


    }
    @media (max-width:600px) {
        .wrapper {
            .mySwiper {
                .swiper-wrapper {
                    .swiper-slide {
                        h3 {
                            font-size:14px !important;
                        }
                        p {
                            font-size:12px !important;
                            line-height:1.6 !important;
                        }
                    }
                }
               
            }
        }
    }
}

// Big Grid

.big-grid-section {
    .wrapper {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap:8rem;

        .big-grid {
            display:grid;
            grid-template-columns: 1fr 1fr;
            column-gap:2rem;
            row-gap:6rem;
            width:100%;

            .big-grid-item {
                display:flex;
                flex-direction: column;
                align-items: flex-start;
                gap:2rem;

                .big-grid-text-top {
                    display:flex;
                    align-items: center;
                    justify-content: space-between;
                    width:100%;
                    
                    p.tagline {
                        font-size:$base-font !important;
                        font-weight:500 !important;
                    }
                    p:not(.tagline) {
                        font-size:$tagline !important;
                    }
                }
                p {
                    max-width:32ch;
                }
            }
        }
    }
    @media (max-width:1050px) {
        .wrapper {
            .big-grid {
                column-gap:1rem;
                .big-grid-item {
                    .big-grid-text-top {
                        flex-direction: column;
                        align-items: flex-start;
                        
                        p:not(.tagline) {
                            margin-block-start:0.5rem;
                        }
                    }
                }
            }
        }
    }
    @media (max-width:700px) {
        .wrapper {
            .big-grid {
                column-gap:1rem;
                .big-grid-item {
                    .big-grid-text-top {
                        flex-direction: column;
                        align-items: flex-start;

                        p.tagline {
                            font-size:$mobile-base !important;
                        }
                        
                        p:not(.tagline) {
                            font-size:$mobile-tagline !important;
                        }
                    }
                   
                    & > p {
                        font-size:$mobile-base !important;
                    }
                }
            }
        }
    }
    @media (max-width:500px) {
        .wrapper {
            .big-grid {
                grid-template-columns: 1fr;
                column-gap:1rem;
                .big-grid-item {
                    .big-grid-text-top {
                        flex-direction: column;
                        align-items: flex-start;

                        p.tagline {
                            font-size:$mobile-base !important;
                        }
                        
                        p:not(.tagline) {
                            font-size:$mobile-tagline !important;
                        }
                    }
                   
                    & > p {
                        font-size:$mobile-base !important;
                    }
                }
            }
        }
    }
}

// Two Column

.two-column-section {
    .wrapper {
        .two-column-grid {
            display:grid;
            grid-template-columns: 1fr 2fr;
            column-gap:2rem;

            .two-column-left {
                display:flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
    
                .two-column-left-top {
                    display:flex;
                    flex-direction: column;
                    align-items: flex-start;
    
                    h3 {
                        margin-block-start:2rem;
                    }
    
                    p.tagline {
                        margin-block-start:1rem;
                    }
                }
                .two-column-left-bottom {
                    margin-block-start:50%;
    
                    button {
                        background-color:transparent;
                        color:$black;
                        display:flex;
                        align-items: center;
                        gap:1rem;
                        border:none;
                        padding:0;
                        margin-block-start:2rem;
                    }
                }
            }
            .two-column-right {
                width:auto;
                img {
                    height:100% !important;
                    object-fit:cover;
                    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);                    
                    transition:clip-path 300ms ease-in-out;
                }
            }
    
        }
    }
    @media (max-width:590px) {
        .wrapper {
            .two-column-grid {
                grid-template-columns: 1fr 1fr;
                column-gap:1rem;
            }
        }
    }
}

// Cta 



.cta-section {
    background-image: linear-gradient(to top, #0303039d, #0303039d), url(../../public/images/cta-image.png);
    background-size:cover;
    height:105lvh;
    max-height:1000px;
    color:white;
    border-radius: 2rem 2rem 0rem 0rem;
    background-attachment: fixed ;

    @media (max-width:500px) {
        background-attachment: scroll !important;
    }




    .wrapper {
        text-align:center;
       
        button {
            background-color:$white;
            color:$black;
            transform:translateY(4rem);
            opacity:0;
            border:2px solid $white;
        }

        h2 {
            font-size:$h2;
            line-height:$h2 * 1.2;
            max-width:12ch;
            margin:auto;
            margin-block-end:2rem;
            transform:translateY(4rem);
            opacity:0;
         
        }
    }
}

// Footer 

footer {
    .wrapper {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:4rem;
        .footer-top {
            width:100%;
            display:flex;
            align-items: flex-end;
            justify-content: space-between;
            gap:4rem;

            .footer-top-left {
                display:grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                column-gap:2rem;
                flex:1 0 0;

               

                .column {

                    ul {
                        display:flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap:1rem;
                    }
                   
                }

            }

            .footer-top-right {
                flex:0.5;
                img {
                    width:100%;
                }
            }
        }

        .footer-bottom {
            display:flex;
            align-items: center;
            justify-content: space-between;
            width:100%;
            border-top:0.5px solid black;
            padding-block-start:4rem;
            
            p {
                font-size:$tagline !important;
            }
        }
        
    }

    @media (max-width:1024px) {
        .footer-top-left {
            gap:4rem;
        }
        .column:nth-child(1) {
            grid-row:1;
        }
        .column:nth-child(2) {
            grid-row:2;
        }
        .column:nth-child(3) {
            grid-row:2;
        }
        .column:nth-child(4) {
            grid-row:2;
        }
    }

    @media (max-width:879px) {
        .footer-top-left {
            gap:4rem;
        }
        .column:nth-child(1) {
            grid-row:1;
        }
        .column:nth-child(2) {
            grid-row:2;
        }
        .column:nth-child(3) {
            grid-row:2;
        }
        .column:nth-child(4) {
            grid-row:2;
        }
        .footer-top-left {
            width:100%;
        }
        .footer-top {
            flex-direction: column;
            align-items: flex-start;
        }
        
    }
    
   
   
}
@media (max-width:546px) {
    .footer-top-left {
     grid-template-columns: 1fr !important;
     .column:nth-child(1) {
        grid-row:1;
    }
    .column:nth-child(2) {
        grid-row:2;
    }
    .column:nth-child(3) {
        grid-row:3;
    }
    .column:nth-child(4) {
        grid-row:4;
    }
     .column {
         width:100% !important;

         

         
     }
    }
 }




 html,
 body {
    overflow-x:hidden !important;
 }

//  body {
//     height:100vh;
//     overflow-y:scroll;
//     scroll-snap-type: y mandatory;

//     main,
//     header,
//     footer,
//     section {
//         scroll-snap-align: start;
//     }
//  }


