@use 'compliants-form-modal';

$light-blue: #55b8ff;
$dark-blue: #0460bb;
$extra-light-blue: #f5fbff;
$black: #030303;
$white: #ffffff;
$h1: 64px;
$mobile-h1: 40px;
$h2: 40px;
$mobile-h2: 32px;
$h3: 40px;
$mobile-h3: 32px;
$base-font: 16px;
$mobile-base: 14px;
$tagline: 14px;
$mobile-tagline: 12px;

@font-face {
    font-family: brandon;
    src: url(../2MASS-J1808-Normal-_personal-use_.ttf);
}

// Reset

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}
.icon {
    width: 32px;
}
.tag {
    font-size: $tagline;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: $black;
}
section,
footer,
header,
main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
        width: 100%;
        max-width: 1440px;
        padding: 4rem 4rem;
    }
}

// Buttons

button {
    background-color: $black;
    color: $white;
    font-weight: 700;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 2px solid $black;
    transition: opacity 500ms;
    border-radius: 2rem;

    &:hover {
        opacity: 0.7;
        transition: opacity 500ms;
    }
}

// Fonts

h1 {
    font-family: brandon !important;
    font-size: $h1;
    line-height: clamp(48px * 1.1, $h1 * 1.1, 5vw * 1.1);
    font-size: clamp(48px, $h1, 5vw) !important;
    font-weight: 200;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transition: clip-path 300ms ease-in-out;

    span {
        color: $light-blue;
        font-style: italic !important;
        font-weight: 400;
    }

    @media (max-width: 1166px) {
        & {
            font-size: $mobile-h1 !important;
            line-height: 1.1;
        }
    }
    @media (max-width: 500px) {
        font-size: 32px !important;
    }
}

h2 {
    font-family: brandon, sans-serif !important;
    font-size: $h2;
    line-height: $h2 * 1.1;
    font-weight: auto;
    font-weight: 200;

    span {
        color: $light-blue;
        font-style: italic !important;
        font-weight: 400;
    }
}
h3 {
    font-family: brandon, sans-serif !important;
    // font-size:$h3;
    // line-height: $h3 * 1.1;
    line-height: clamp(20px * 1.1, $h3 * 1.1, 2vw * 1.1) !important;
    font-size: clamp(20px, $h3, 2vw) !important;
    // font-size:1.75vw !important;
    text-align: left;
    font-weight: 200;

    span {
        color: $light-blue;
        font-style: italic !important;
        font-weight: 400;
    }
}

p {
    font-size: $base-font;
    line-height: $base-font * 1.6;
    line-height: clamp(14px * 1.6, $base-font * 1.6, 1.15vw * 1.6) !important;
    font-size: clamp(14px, $base-font, 1.15vw) !important;
}

main {
    p {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
        transition: clip-path 300ms ease-in-out;
    }
}

// Loader

.loader {
    position: fixed;
    background-color: white;
    height: 100vh;
    z-index: 10;

    #loader {
        width: 200px;
        #white-circle {
            animation: spin 3000ms infinite ease-out;
            transform-origin: center;
        }
    }
}

@keyframes spin {
    to {
        rotate: 360deg;
    }
}

/****** Dropdown ******/

.dropdown {
    position: relative !important;
    display: none;
    z-index: 1000 !important;
}
.dropdown-menu {
    position: absolute;
    right: 0;
    top: calc(100% + 0.5rem);
    padding: 1.5rem;
    background-color: $white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: max-content;
    opacity: 0;
    transform: translateY(-1rem);
    transition: opacity 0.5s, transform 0.5s;
    pointer-events: none;
    gap: 2rem;
    border-radius: 0.5rem;
}

.dropdown-heading > a {
    font-weight: 700 !important;
}
.dropdown-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.dropdown-links a {
    font-weight: 300 !important;
}
.div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.menu {
    width: 30px;
    display: none;
    cursor: pointer;
}
.dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
    transition: opacity 0.5s, transform 0.5s;
}
.menu + .dropdown-menu {
    padding-block: 2rem;
    display: none;
}
.dropdown-heading > p {
    font-weight: 700 !important;
}
.dropdown > a {
    font-weight: 300 !important;
}
@media (max-width: 1024px) {
    nav ul {
        display: none !important;
    }
    .dropdown {
        display: block;
    }
    .menu + .dropdown-menu {
        padding-block: 2rem;
        display: grid;
    }
    .menu {
        display: block;
    }
    header button {
        display: none;
    }
    nav {
        display: flex;
        justify-content: flex-end;
    }
}
@media (max-width: 500px) {
    .header-wrapper {
        padding-inline: 1rem;
    }
    .dropdown-menu {
        grid-template-columns: 1fr;
    }
}

// Wrapper Media

@media (max-width: 700px) {
    main,
    footer,
    section,
    header {
        .wrapper {
            padding-inline: 2rem;
        }
    }
}
@media (max-width: 500px) {
    main,
    footer,
    section,
    header {
        .wrapper {
            padding-inline: 1rem;
        }
    }
}

// Header

header {
    .header-wrapper {
        width: 100%;
        max-width: 1440px;
        padding: 0.5rem 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        nav {
            width: 40%;

            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                font-size: 16px;

                li {
                    font-size: 14px;
                    font-weight: 300;
                    width: 15ch;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .header-button {
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .logo-container {
            width: 30%;
        }
    }
    @media (max-width: 700px) {
        .header-wrapper {
            padding-inline: 2rem !important;
        }
    }
    @media (max-width: 500px) {
        .header-wrapper {
            padding-inline: 1rem !important;
        }
    }
}

// Main

main {
    background-image: linear-gradient(to top, #030303, #03030350 50%),
        url(../public/images/r-architecture-pz-mgh-cq-2-ks-0-unsplash-3.png);
    color: white;
    background-size: cover;
    background-position: right;

    .wrapper {
        padding-block-start: 24rem;
        padding-block-end: 4rem;
        display: flex;
        align-items: flex-end;
        gap: 0rem;
        height: 90svh;
        max-height: 1000px;

        .main-left {
            width: 80%;
            .tagline-wrapper {
                img {
                    width: 115px;

                    @media (max-width: 500px) {
                        width: 75px;
                    }
                }
            }

            h1 {
                max-width: 16ch;
            }

            p.tagline {
                opacity: 1;
                font-size: 24px !important;
                letter-spacing: 0.5rem;
            }
        }

        .main-right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;
            width: 20.1%;
            p {
                transform: translateY(50%);
                opacity: 0;
            }

            button {
                transform: translateY(50%);
                opacity: 0;
            }
        }
    }

    @media (max-width: 1166px) {
        .wrapper {
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;
            justify-content: flex-end;

            .main-right {
                width: 100%;

                p {
                    max-width: 42ch;
                }
            }

            .main-left {
                width: 100%;
            }
        }
    }

    @media (max-width: 700px) {
        .wrapper {
            padding-inline: 2rem;
        }
    }
    @media (max-width: 600px) {
        & {
            background-image: linear-gradient(to top, #030303, #03030350 50%),
                url(../public/images/r-architecture-pz-mgh-cq-2-ks-0-unsplash-3.png);
        }
        .wrapper {
            padding-inline: 2rem;
            padding-top: 0rem;
            height: 90svh;
            max-height: 775px;
            justify-content: flex-end;
        }
    }
    @media (max-width: 500px) {
        .wrapper {
            padding-inline: 1rem;
        }
    }
}
@media (max-width: 600px) {
    .main-left-below-title {
        flex-direction: column;
        align-items: flex-start !important;
    }
}

// Two Column

.two-column-section {
    .wrapper {
        .two-column-grid {
            display: grid;
            grid-template-columns: 1fr 2fr;
            column-gap: 2rem;

            .two-column-left {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;

                .two-column-left-top {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    h3 {
                        margin-block-start: 2rem;
                        max-width: 20ch;
                        text-wrap: balance;
                    }

                    p.tagline {
                        margin-block-start: 1rem;
                        font-weight: 500;
                    }
                }
                .two-column-left-bottom {
                    margin-block-start: 50%;

                    button {
                        background-color: transparent;
                        color: $black;
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        border: none;
                        padding: 0;
                        margin-block-start: 2rem;
                    }
                }
            }
            .two-column-right {
                width: auto;
                img {
                    height: 100% !important;
                    width: calc(100% + 4rem);
                    object-fit: cover;
                    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
                    transition: 500ms ease-in-out;
                }
            }
        }
    }
    @media (max-width: 590px) {
        .wrapper {
            .two-column-grid {
                grid-template-columns: 1fr 1fr;
                column-gap: 1rem;
            }
        }
    }
    @media (max-width: 700px) {
        .wrapper {
            .two-column-right {
                width: auto;
                img {
                    height: 100% !important;
                    width: calc(100% + 2rem);
                    object-fit: cover;
                    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
                    transition: 500ms ease-in-out;
                }
            }
        }
    }
    @media (max-width: 500px) {
        .wrapper {
            .two-column-right {
                width: auto;
                img {
                    height: 100% !important;
                    width: calc(100% + 1rem);
                    object-fit: cover;
                    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
                    transition: 500ms ease-in-out;
                }
            }
        }
    }
}

// Gallery

.gallery-section {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4rem;
        overflow-x: hidden;
        padding-block: 6rem;

        .gallery-bottom {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            width: max(125%, 800px);
            width: 100%;
            align-self: center;
        }

        .gallery-top {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;

            h3 {
                max-width: 25ch;
            }

            p {
                max-width: 32ch;
                font-size: $tagline !important;
                margin-block-start: 2rem;

                &.tagline {
                    font-weight: 500;
                }
            }
        }
        a {
            align-self: center;
            margin-block-start: -2rem;
        }
    }

    @media (max-width: 1024px) {
        .gallery-top {
            flex-direction: column;
            align-items: flex-start !important;
            gap: 2rem;

            .gallery-top-right {
                align-items: flex-start;
                justify-content: flex-start;
            }
        }
    }
}

@media (max-width: 600px) {
    h2 {
        font-size: $mobile-h2 !important;
    }
}

/* Center Grid Section */

.contact-section {
    background-image: linear-gradient(to top, #0303039d, #0303039d),
        url(../public/images/contact-background.png);
    background-size: cover;
    min-height: 105lvh;
    max-height: 1000px;
    color: white;
    border-radius: 2rem 2rem 0rem 0rem;
    background-attachment: fixed;
    @media (max-width: 500px) {
        & {
            background-attachment: scroll !important;
        }
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        transform: translateY(16rem);
        opacity: 0;

        .contact-titles {
            text-align: center;

            .links {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                margin-block-start: 1rem;
            }
            h2 {
                text-align: center !important;
                margin-block-end: 2rem;

                .tagline {
                    text-align: center !important;
                    font-weight: 500 !important;
                }
            }
        }

        .contact-bottom {
            width: 500px;
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;

                button {
                    margin-block-start: 2rem;
                    background-color: $white;
                    color: $black;
                    border: none;
                }

                fieldset {
                    width: 100%;
                    border: none;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    label {
                        margin-block: 1rem;
                    }

                    input,
                    textarea {
                        width: 100%;
                        padding: 0.5rem;
                        background-color: transparent;
                        border: none;
                        border-bottom: 2px solid white;
                        color: white;
                        font-size: 18px;
                        font-weight: 500;
                    }
                    input:focus,
                    textarea:focus {
                        outline: none;
                    }
                }
            }
        }
    }
    @media (max-width: 644px) {
        .wrapper {
            .contact-bottom {
                width: 100%;

                form {
                }
            }
        }
    }
}

// Cta

// Banner

.banner {
    padding: 0.5rem 4rem;
    gap: 2rem;
    background-color: $extra-light-blue;
}

// Footer

footer {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        .footer-top {
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            gap: 4rem;
            .address {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                p {
                    font-size: $base-font !important;
                }
            }

            .footer-top-left {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 2rem;
                flex: 1 0 0;

                .column {
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 1rem;
                    }
                }
            }

            .footer-top-right {
                flex: 0.5;
                img {
                    width: 100%;
                }
            }
        }

        .footer-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            border-top: 0.5px solid black;
            padding-block-start: 4rem;

            p {
                font-size: $tagline !important;
            }
        }
    }

    @media (max-width: 1024px) {
        .footer-top-left {
            gap: 4rem;
        }
        .column:nth-child(1) {
            grid-row: 1;
        }
        .column:nth-child(2) {
            grid-row: 2;
        }
        .column:nth-child(3) {
            grid-row: 2;
        }
        .column:nth-child(4) {
            grid-row: 2;
        }
        .column:nth-child(5) {
            grid-row: 2;
        }
    }

    @media (max-width: 879px) {
        .footer-top-left {
            gap: 4rem;
        }
        .column:nth-child(1) {
            grid-row: 1;
        }
        .column:nth-child(2) {
            grid-row: 2;
        }
        .column:nth-child(3) {
            grid-row: 2;
        }
        .column:nth-child(4) {
            grid-row: 2;
        }
        .footer-top-left {
            width: 100%;
        }
        .footer-top {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}
@media (max-width: 546px) {
    .footer-top-left {
        grid-template-columns: 1fr !important;
        .column:nth-child(1) {
            grid-row: 1;
        }
        .column:nth-child(2) {
            grid-row: 2;
        }
        .column:nth-child(3) {
            grid-row: 3;
        }
        .column:nth-child(4) {
            grid-row: 4;
        }
        .column {
            width: 100% !important;
        }
    }
}

html,
body {
    overflow-x: hidden !important;
}

// Swiper

.mySwiper {
    width: 100%;
    // display: flex;
    --swiper-navigation-color: white;
    --swiper-navigation-size: 4rem;

    @media (min-width: 1024px) {
        & {
            pointer-events: none;
        }
        &.pointer {
            pointer-events: all;
        }
    }

    .swiper-pagination {
        position: static;
        margin-block-start: 1rem;
    }
    .swiper-wrapper {
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 1rem;
        height: 100%;

        h3 {
            font-size: 20px !important;
        }
        @media (max-width: 600px) {
            h3 {
                font-size: 14px !important;
            }
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            aspect-ratio: 9/16;
            object-fit: cover;
            clip-path: polygon(100% 100%, 0 100%, 0 100%, 100% 100%);
            transition: clip-path 500ms ease-in-out;
        }
    }
}

// Growing Image

.growing-image-section {
    height: max-content;

    .wrapper {
        padding: 0;
        max-width: 100% !important;

        display: flex;
        align-items: center;
        justify-content: center;
        height: max-content;
        max-height: 800px;
        position: relative;

        img {
            border-radius: 50%;
            width: 50%;
            transition: 0.1s;
            max-height: min(100vh, 800px);
            object-fit: cover;
            background-image: linear-gradient(to top, #030303, #03030350 25%);
        }
        h3 {
            position: absolute;
            bottom: 2rem;
            left: 4rem;
            color: white;
            z-index: 1;
            transform: translateY(5.5rem);

            &:nth-child(2) {
                left: 50%;
                transform: translateX(-50%) translateY(5.5rem);
            }
            &:nth-child(3) {
                left: auto;
                right: 4rem;
            }
        }
    }
    @media (max-width: 700px) {
        .wrapper {
            h3 {
                position: absolute;
                bottom: 2rem;
                left: 2rem;
                color: white;
                z-index: 1;
                transform: translateY(5.5rem);
                font-size: $base-font !important;

                &:nth-child(3) {
                    right: 2rem;
                }
            }
        }
    }
    @media (max-width: 500px) {
        .wrapper {
            h3 {
                position: absolute;
                bottom: 2rem;
                left: 1rem;
                color: white;
                z-index: 1;
                transform: translateY(5.5rem);
                font-size: $mobile-tagline !important;

                &:nth-child(3) {
                    right: 1rem;
                }
            }
        }
    }
}

.island {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
    gap: 0.5rem;
}
