.complaints-form-modal {
  width: 95vw;
  height: 95vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 10;
  overflow: hidden;
  padding-block-end: 0.5rem;
}
@media (max-width: 500px) {
  .complaints-form-modal {
    height: 85vh;
  }
}
.complaints-form-modal .wrapper {
  height: 100%;
  overflow: hidden;
  padding-block-end: 0rem !important;
}
.complaints-form-modal #close-modal {
  position: fixed !important;
  top: 2rem;
  right: 2rem;
  z-index: 1000;
}
.complaints-form-modal .complaints-column {
  margin: auto;
  overflow-y: hidden;
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.complaints-form-modal .complaints-column iframe {
  overflow-y: hidden !important;
}

dialog::backdrop {
  background-image: linear-gradient(#000000, #000000);
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
}

@font-face {
  font-family: brandon;
  src: url(../2MASS-J1808-Normal-_personal-use_.ttf);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

.icon {
  width: 32px;
}

.tag {
  font-size: 14px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #030303;
}

section,
footer,
header,
main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .wrapper,
footer .wrapper,
header .wrapper,
main .wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 4rem 4rem;
}

button {
  background-color: #030303;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 2px solid #030303;
  transition: opacity 500ms;
  border-radius: 2rem;
}
button:hover {
  opacity: 0.7;
  transition: opacity 500ms;
}

h1 {
  font-family: brandon !important;
  font-size: 64px;
  line-height: clamp(52.8px, 70.4px, 5.5vw);
  font-size: clamp(48px, 64px, 5vw) !important;
  font-weight: 200;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  transition: -webkit-clip-path 300ms ease-in-out;
  transition: clip-path 300ms ease-in-out;
  transition: clip-path 300ms ease-in-out, -webkit-clip-path 300ms ease-in-out;
}
h1 span {
  color: #55b8ff;
  font-style: italic !important;
  font-weight: 400;
}
@media (max-width: 1166px) {
  h1 {
    font-size: 40px !important;
    line-height: 1.1;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 32px !important;
  }
}

h2 {
  font-family: brandon, sans-serif !important;
  font-size: 40px;
  line-height: 44px;
  font-weight: auto;
  font-weight: 200;
}
h2 span {
  color: #55b8ff;
  font-style: italic !important;
  font-weight: 400;
}

h3 {
  font-family: brandon, sans-serif !important;
  line-height: clamp(22px, 44px, 2.2vw) !important;
  font-size: clamp(20px, 40px, 2vw) !important;
  text-align: left;
  font-weight: 200;
}
h3 span {
  color: #55b8ff;
  font-style: italic !important;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 25.6px;
  line-height: clamp(22.4px, 25.6px, 1.84vw) !important;
  font-size: clamp(14px, 16px, 1.15vw) !important;
}

main p {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  transition: -webkit-clip-path 300ms ease-in-out;
  transition: clip-path 300ms ease-in-out;
  transition: clip-path 300ms ease-in-out, -webkit-clip-path 300ms ease-in-out;
}

.loader {
  position: fixed;
  background-color: white;
  height: 100vh;
  z-index: 10;
}
.loader #loader {
  width: 200px;
}
.loader #loader #white-circle {
  animation: spin 3000ms infinite ease-out;
  transform-origin: center;
}

@keyframes spin {
  to {
    rotate: 360deg;
  }
}
/****** Dropdown ******/
.dropdown {
  position: relative !important;
  display: none;
  z-index: 1000 !important;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: calc(100% + 0.5rem);
  padding: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: -moz-max-content;
  width: max-content;
  opacity: 0;
  transform: translateY(-1rem);
  transition: opacity 0.5s, transform 0.5s;
  pointer-events: none;
  gap: 2rem;
  border-radius: 0.5rem;
}

.dropdown-heading > a {
  font-weight: 700 !important;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dropdown-links a {
  font-weight: 300 !important;
}

.div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menu {
  width: 30px;
  display: none;
  cursor: pointer;
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
  transition: opacity 0.5s, transform 0.5s;
}

.menu + .dropdown-menu {
  padding-block: 2rem;
  display: none;
}

.dropdown-heading > p {
  font-weight: 700 !important;
}

.dropdown > a {
  font-weight: 300 !important;
}

@media (max-width: 1024px) {
  nav ul {
    display: none !important;
  }
  .dropdown {
    display: block;
  }
  .menu + .dropdown-menu {
    padding-block: 2rem;
    display: grid;
  }
  .menu {
    display: block;
  }
  header button {
    display: none;
  }
  nav {
    display: flex;
    justify-content: flex-end;
  }
}
@media (max-width: 500px) {
  .header-wrapper {
    padding-inline: 1rem;
  }
  .dropdown-menu {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 700px) {
  main .wrapper,
  footer .wrapper,
  section .wrapper,
  header .wrapper {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  main .wrapper,
  footer .wrapper,
  section .wrapper,
  header .wrapper {
    padding-inline: 1rem;
  }
}
header .header-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 0.5rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-wrapper nav {
  width: 40%;
}
header .header-wrapper nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 16px;
}
header .header-wrapper nav ul li {
  font-size: 14px;
  font-weight: 300;
  width: 15ch;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-wrapper .header-button {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .header-wrapper .logo-container {
  width: 30%;
}
@media (max-width: 700px) {
  header .header-wrapper {
    padding-inline: 2rem !important;
  }
}
@media (max-width: 500px) {
  header .header-wrapper {
    padding-inline: 1rem !important;
  }
}

main {
  background-image: linear-gradient(to top, #030303, rgba(3, 3, 3, 0.3137254902) 50%), url(../public/images/r-architecture-pz-mgh-cq-2-ks-0-unsplash-3.png);
  color: white;
  background-size: cover;
  background-position: right;
}
main .wrapper {
  padding-block-start: 24rem;
  padding-block-end: 4rem;
  display: flex;
  align-items: flex-end;
  gap: 0rem;
  height: 90svh;
  max-height: 1000px;
}
main .wrapper .main-left {
  width: 80%;
}
main .wrapper .main-left .tagline-wrapper img {
  width: 115px;
}
@media (max-width: 500px) {
  main .wrapper .main-left .tagline-wrapper img {
    width: 75px;
  }
}
main .wrapper .main-left h1 {
  max-width: 16ch;
}
main .wrapper .main-left p.tagline {
  opacity: 1;
  font-size: 24px !important;
  letter-spacing: 0.5rem;
}
main .wrapper .main-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  width: 20.1%;
}
main .wrapper .main-right p {
  transform: translateY(50%);
  opacity: 0;
}
main .wrapper .main-right button {
  transform: translateY(50%);
  opacity: 0;
}
@media (max-width: 1166px) {
  main .wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    justify-content: flex-end;
  }
  main .wrapper .main-right {
    width: 100%;
  }
  main .wrapper .main-right p {
    max-width: 42ch;
  }
  main .wrapper .main-left {
    width: 100%;
  }
}
@media (max-width: 700px) {
  main .wrapper {
    padding-inline: 2rem;
  }
}
@media (max-width: 600px) {
  main {
    background-image: linear-gradient(to top, #030303, rgba(3, 3, 3, 0.3137254902) 50%), url(../public/images/r-architecture-pz-mgh-cq-2-ks-0-unsplash-3.png);
  }
  main .wrapper {
    padding-inline: 2rem;
    padding-top: 0rem;
    height: 90svh;
    max-height: 775px;
    justify-content: flex-end;
  }
}
@media (max-width: 500px) {
  main .wrapper {
    padding-inline: 1rem;
  }
}

@media (max-width: 600px) {
  .main-left-below-title {
    flex-direction: column;
    align-items: flex-start !important;
  }
}
.two-column-section .wrapper .two-column-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.two-column-section .wrapper .two-column-grid .two-column-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.two-column-section .wrapper .two-column-grid .two-column-left .two-column-left-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.two-column-section .wrapper .two-column-grid .two-column-left .two-column-left-top h3 {
  margin-block-start: 2rem;
  max-width: 20ch;
  text-wrap: balance;
}
.two-column-section .wrapper .two-column-grid .two-column-left .two-column-left-top p.tagline {
  margin-block-start: 1rem;
  font-weight: 500;
}
.two-column-section .wrapper .two-column-grid .two-column-left .two-column-left-bottom {
  margin-block-start: 50%;
}
.two-column-section .wrapper .two-column-grid .two-column-left .two-column-left-bottom button {
  background-color: transparent;
  color: #030303;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: none;
  padding: 0;
  margin-block-start: 2rem;
}
.two-column-section .wrapper .two-column-grid .two-column-right {
  width: auto;
}
.two-column-section .wrapper .two-column-grid .two-column-right img {
  height: 100% !important;
  width: calc(100% + 4rem);
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  transition: 500ms ease-in-out;
}
@media (max-width: 590px) {
  .two-column-section .wrapper .two-column-grid {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}
@media (max-width: 700px) {
  .two-column-section .wrapper .two-column-right {
    width: auto;
  }
  .two-column-section .wrapper .two-column-right img {
    height: 100% !important;
    width: calc(100% + 2rem);
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: 500ms ease-in-out;
  }
}
@media (max-width: 500px) {
  .two-column-section .wrapper .two-column-right {
    width: auto;
  }
  .two-column-section .wrapper .two-column-right img {
    height: 100% !important;
    width: calc(100% + 1rem);
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: 500ms ease-in-out;
  }
}

.gallery-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
  overflow-x: hidden;
  padding-block: 6rem;
}
.gallery-section .wrapper .gallery-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: max(125%, 800px);
  width: 100%;
  align-self: center;
}
.gallery-section .wrapper .gallery-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.gallery-section .wrapper .gallery-top h3 {
  max-width: 25ch;
}
.gallery-section .wrapper .gallery-top p {
  max-width: 32ch;
  font-size: 14px !important;
  margin-block-start: 2rem;
}
.gallery-section .wrapper .gallery-top p.tagline {
  font-weight: 500;
}
.gallery-section .wrapper a {
  align-self: center;
  margin-block-start: -2rem;
}
@media (max-width: 1024px) {
  .gallery-section .gallery-top {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 2rem;
  }
  .gallery-section .gallery-top .gallery-top-right {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 32px !important;
  }
}
/* Center Grid Section */
.contact-section {
  background-image: linear-gradient(to top, rgba(3, 3, 3, 0.6156862745), rgba(3, 3, 3, 0.6156862745)), url(../public/images/contact-background.png);
  background-size: cover;
  min-height: 105lvh;
  max-height: 1000px;
  color: white;
  border-radius: 2rem 2rem 0rem 0rem;
  background-attachment: fixed;
}
@media (max-width: 500px) {
  .contact-section {
    background-attachment: scroll !important;
  }
}
.contact-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  transform: translateY(16rem);
  opacity: 0;
}
.contact-section .wrapper .contact-titles {
  text-align: center;
}
.contact-section .wrapper .contact-titles .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-block-start: 1rem;
}
.contact-section .wrapper .contact-titles h2 {
  text-align: center !important;
  margin-block-end: 2rem;
}
.contact-section .wrapper .contact-titles h2 .tagline {
  text-align: center !important;
  font-weight: 500 !important;
}
.contact-section .wrapper .contact-bottom {
  width: 500px;
}
.contact-section .wrapper .contact-bottom form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.contact-section .wrapper .contact-bottom form button {
  margin-block-start: 2rem;
  background-color: #ffffff;
  color: #030303;
  border: none;
}
.contact-section .wrapper .contact-bottom form fieldset {
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact-section .wrapper .contact-bottom form fieldset label {
  margin-block: 1rem;
}
.contact-section .wrapper .contact-bottom form fieldset input,
.contact-section .wrapper .contact-bottom form fieldset textarea {
  width: 100%;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.contact-section .wrapper .contact-bottom form fieldset input:focus,
.contact-section .wrapper .contact-bottom form fieldset textarea:focus {
  outline: none;
}
@media (max-width: 644px) {
  .contact-section .wrapper .contact-bottom {
    width: 100%;
  }
}

.banner {
  padding: 0.5rem 4rem;
  gap: 2rem;
  background-color: #f5fbff;
}

footer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
footer .wrapper .footer-top {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 4rem;
}
footer .wrapper .footer-top .address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .wrapper .footer-top .address p {
  font-size: 16px !important;
}
footer .wrapper .footer-top .footer-top-left {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  flex: 1 0 0;
}
footer .wrapper .footer-top .footer-top-left .column ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
footer .wrapper .footer-top .footer-top-right {
  flex: 0.5;
}
footer .wrapper .footer-top .footer-top-right img {
  width: 100%;
}
footer .wrapper .footer-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  border-top: 0.5px solid black;
  padding-block-start: 4rem;
}
footer .wrapper .footer-bottom svg {
  width: 150px;
}
footer .wrapper .footer-bottom p {
  font-size: 14px !important;
}
@media (max-width: 1024px) {
  footer .footer-top-left {
    gap: 4rem;
  }
  footer .column:nth-child(1) {
    grid-row: 1;
  }
  footer .column:nth-child(2) {
    grid-row: 2;
  }
  footer .column:nth-child(3) {
    grid-row: 2;
  }
  footer .column:nth-child(4) {
    grid-row: 2;
  }
  footer .column:nth-child(5) {
    grid-row: 2;
  }
}
@media (max-width: 879px) {
  footer .footer-top-left {
    gap: 4rem;
  }
  footer .column:nth-child(1) {
    grid-row: 1;
  }
  footer .column:nth-child(2) {
    grid-row: 2;
  }
  footer .column:nth-child(3) {
    grid-row: 2;
  }
  footer .column:nth-child(4) {
    grid-row: 2;
  }
  footer .footer-top-left {
    width: 100%;
  }
  footer .footer-top {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 546px) {
  .footer-top-left {
    grid-template-columns: 1fr !important;
  }
  .footer-top-left .column:nth-child(1) {
    grid-row: 1;
  }
  .footer-top-left .column:nth-child(2) {
    grid-row: 2;
  }
  .footer-top-left .column:nth-child(3) {
    grid-row: 3;
  }
  .footer-top-left .column:nth-child(4) {
    grid-row: 4;
  }
  .footer-top-left .column {
    width: 100% !important;
  }
}
html,
body {
  overflow-x: hidden !important;
}

.mySwiper:not(.all-services-gallery-section .mySwiper) {
  width: 100%;
  --swiper-navigation-color: white;
  --swiper-navigation-size: 4rem;
  display: grid;
}
.mySwiper:not(.all-services-gallery-section .mySwiper) .swiper-pagination {
  margin-block-start: 1rem;
  --swiper-pagination-color: white;
}
.mySwiper:not(.all-services-gallery-section .mySwiper) .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  height: 100%;
}
.mySwiper:not(.all-services-gallery-section .mySwiper) .swiper-slide h3 {
  font-size: 20px !important;
}
@media (max-width: 600px) {
  .mySwiper:not(.all-services-gallery-section .mySwiper) .swiper-slide h3 {
    font-size: 14px !important;
  }
}
.mySwiper:not(.all-services-gallery-section .mySwiper) .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(100% 100%, 0 100%, 0 100%, 100% 100%);
          clip-path: polygon(100% 100%, 0 100%, 0 100%, 100% 100%);
  transition: -webkit-clip-path 500ms ease-in-out;
  transition: clip-path 500ms ease-in-out;
  transition: clip-path 500ms ease-in-out, -webkit-clip-path 500ms ease-in-out;
}

.growing-image-section {
  height: -moz-max-content;
  height: max-content;
}
.growing-image-section .wrapper {
  padding: 0;
  max-width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: -moz-max-content;
  height: max-content;
  max-height: 800px;
  position: relative;
}
.growing-image-section .wrapper img {
  border-radius: 50%;
  width: 50%;
  transition: 0.1s;
  max-height: min(100vh, 800px);
  -o-object-fit: cover;
     object-fit: cover;
  background-image: linear-gradient(to top, #030303, rgba(3, 3, 3, 0.3137254902) 25%);
}
.growing-image-section .wrapper h3 {
  position: absolute;
  bottom: 2rem;
  left: 4rem;
  color: white;
  z-index: 1;
  transform: translateY(5.5rem);
}
.growing-image-section .wrapper h3:nth-child(2) {
  left: 50%;
  transform: translateX(-50%) translateY(5.5rem);
}
.growing-image-section .wrapper h3:nth-child(3) {
  left: auto;
  right: 4rem;
}
@media (max-width: 700px) {
  .growing-image-section .wrapper h3 {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: white;
    z-index: 1;
    transform: translateY(5.5rem);
    font-size: 16px !important;
  }
  .growing-image-section .wrapper h3:nth-child(3) {
    right: 2rem;
  }
}
@media (max-width: 500px) {
  .growing-image-section .wrapper h3 {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    color: white;
    z-index: 1;
    transform: translateY(5.5rem);
    font-size: 12px !important;
  }
  .growing-image-section .wrapper h3:nth-child(3) {
    right: 1rem;
  }
}

.island {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px;
  gap: 0.5rem;
}

.all-services-gallery-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
}
.all-services-gallery-section .wrapper h2 {
  max-width: 10ch;
}
.all-services-gallery-section .wrapper .swiper-pagination {
  --swiper-pagination-color: black;
  --swiper-pagination-bottom: -0rem;
  display: none;
}
.all-services-gallery-section .wrapper .mySwiper {
  --swiper-navigation-color: white;
  --swiper-navigation-size: 4rem;
  width: 100%;
}
.all-services-gallery-section .wrapper .mySwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  height: 100%;
}
.all-services-gallery-section .wrapper .mySwiper .swiper-slide p {
  text-align: left;
}
.all-services-gallery-section .wrapper .mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  flex: 1;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: -webkit-clip-path 500ms ease-in-out;
  transition: clip-path 500ms ease-in-out;
  transition: clip-path 500ms ease-in-out, -webkit-clip-path 500ms ease-in-out;
}
.all-services-gallery-section .wrapper a {
  margin-inline: auto;
  margin-block-start: -2rem;
}
@media (max-width: 600px) {
  .all-services-gallery-section .wrapper .mySwiper .swiper-wrapper .swiper-slide h3 {
    font-size: 14px !important;
  }
  .all-services-gallery-section .wrapper .mySwiper .swiper-wrapper .swiper-slide p {
    font-size: 12px !important;
    line-height: 1.6 !important;
  }
}/*# sourceMappingURL=style.css.map */