$light-blue:#55B8FF;
$dark-blue:#0460BB;
$extra-light-blue:#F5FBFF;
$black:#030303;
$white:#ffffff;
$h1:80px;
$mobile-h1:64px;
$h2:40px;
$mobile-h2:32px;
$h3:24px;
$mobile-h3:22px;
$base-font:16px;
$mobile-base:14px;
$tagline:14px;
$mobile-tagline:12px;

@font-face {
    font-family:brandon;
    src: url(../2MASS-J1808-Normal-_personal-use_.ttf);
}


// Reset

*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"Montserrat", sans-serif;
}

img {
    width:100%;
}
.icon {
    width:32px;
}
.tag {
    font-size:$tagline;
}
ul {
    list-style:none;
}
a {
    text-decoration:none;
    color:$black;
}

section,
footer,
header,
main {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;

    .wrapper {
        width:100%;
        max-width:1440px;
        padding:4rem;
    }
}

// Buttons

button {
    background-color:$light-blue;
    color:$white;
    font-weight:700;
    cursor:pointer;
    padding:0.5rem 2rem;
    border:2px solid $light-blue;
    transition: opacity 500ms;
    border-radius:2rem;


    &:hover {
        opacity:0.8;
        transition: opacity 500ms;
    }
}

// Fonts

h1 {
    font-family:brandon !important;
    font-size:$h1;
    line-height:clamp(64px * 1.1, $h1 * 1.1, 5.5vw * 1.1);
    font-size:clamp(64px, $h1, 5.5vw)!important;
   
    span {
        color:$light-blue;
        font-style: italic !important;

    }   
    
    @media (max-width:1166px) {
        & {
            font-size:$h1;
            line-height:clamp(40px * 1.1, $mobile-h1 * 1.1, 6.5vw * 1.1);
            font-size:clamp(40px, $mobile-h1, 6.5vw)!important;
        }
    }
}

h2 {
    font-family:brandon, sans-serif !important;
    font-size:$h2;
    line-height: $h2 * 1.1;


    span {
        color:$light-blue;
        font-style: italic !important;

    }
}
h3 {
    font-family:brandon, sans-serif !important;
    // font-size:$h3;
    // line-height: $h3 * 1.1;
    line-height:clamp(18px * 1.1, $h3 * 1.1, 3.5vw * 1.1) !important;
    font-size:clamp(14px, $h3, 1.5vw)!important;
    // font-size:1.75vw !important;


    span {
        color:$light-blue;
        font-style: italic !important;
    }
}

p {
    font-size:$base-font;
    line-height:$base-font * 1.6;
    line-height:clamp(14px * 1.6, $base-font * 1.6, 1.15vw * 1.6) !important;
    font-size:clamp(14px, $base-font, 1.15vw)!important;
}

// Loader 

.loader {
    position:fixed;
    background-color:white;
    height:100vh;
    z-index:10;

    #white-circle {
        animation: spin 3000ms infinite ease-out;
        transform-origin:center;
    }
}

@keyframes spin {
    to {
        rotate:360deg;
    }
}

/****** Dropdown ******/

.dropdown {
    position:relative !important;
    display:none;
    z-index:1000 !important;
}
.dropdown-menu {
    position:absolute;
    right:0;
    top:calc(100% + 0.5rem);
    padding:1.5rem;
    background-color:#262626;
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.1);
    display:grid;
    grid-template-columns:1fr 1fr;
    width:max-content;
    opacity:0;
    transform:translateY(-1rem);
    transition:opacity 0.5s, transform 0.5s;
    pointer-events:none;
    gap:2rem;
    border-radius:0.5rem;
   
}





.dropdown-heading > a {
    font-weight:700 !important;
}
.dropdown-links {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.dropdown-links a {
    font-weight:300 !important;
}
.div {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.menu {
    width:30px;
    display:none;
    cursor:pointer;
}
.dropdown.active > .link + .dropdown-menu {
    opacity:1;
    transform:translateY(0);
    pointer-events:all;
    transition:opacity 0.5s, transform 0.5s;

}
.menu + .dropdown-menu {
    padding-block:2rem;
    display:none;
}
.dropdown-heading > p {
    font-weight:700 !important;
}
.dropdown > a {
    font-weight:300 !important;
}
@media (max-width:1024px) {
    nav ul {
        display:none !important;
    }
    .dropdown {
        display:block;
    }
    .menu + .dropdown-menu {
        padding-block:2rem;
        display:grid;
    }
    .menu {
        display:block;
    }
    header button {
        display:none;
    }
    nav {
        display:flex;
        justify-content: flex-end;
    }
}
@media (max-width:500px) {
    .header-wrapper {
        padding-inline:1rem;
    }
    .dropdown-menu {
        grid-template-columns:1fr;
    }
}

// Wrapper Media

@media (max-width:700px) {
    main,
    footer,
    section,
    header {
        .wrapper {
            padding-inline:2rem;
        }
        
    }
    
        
    
}
@media (max-width:500px) {
    main,
    footer,
    section,
    header {
        .wrapper {
            padding-inline:1rem;
        }
    }
}

// Header

header {
    .header-wrapper {
        width:100%;
        max-width:1440px;
        padding:0.25rem 4rem;
        display:flex;
        align-items: center;
        justify-content: space-between;

        nav {
            width:40%;

            ul {
                display:flex;
                align-items: center;
                justify-content: center;
                gap:2rem;
                font-size:16px;

                li {
                    font-size:14px;
                    font-weight:300;
                    width:15ch;
                    display:flex;
                    align-items: center;
                    justify-content: center;

                }
            }
        }

        .header-button {
            width:30%;
            display:flex;
            align-items: center;
            justify-content: flex-end;
        }


        .logo-container {
            width:30%;
        }
    }
    @media(max-width:700px) { 
        .header-wrapper {
            padding-inline:2rem !important;
        }
    
}
    @media(max-width:500px) { 
        .header-wrapper {
            padding-inline:1rem !important;
        }
    
}
}

// Main

main {
    background-image: linear-gradient(to top, #030303, #03030300 75%), url(../public/images/main-hero-image.png);
    color:white;
    background-size:cover;
    background-position:right;

    .wrapper {
        padding:24rem 4rem;
        padding-block-end:2rem;
        display:flex;
        align-items: flex-end;
        gap:0rem;

        .main-left {
            width:80%;
        }

        .main-right {
            display:flex;
            flex-direction: column;
            align-items: flex-start;
            gap:2rem;
            width:20%;

            p {
                transform:translateY(50%);
                opacity:0;
            }

            button {
                transform:translateY(50%);
                opacity:0;
            }
        }
        
        
    }

    @media (max-width:1166px) {
        .wrapper {
            flex-direction: column;
            align-items: flex-start;
            gap:2rem;

            .main-right {
                    width:100%;

                    p {
                        max-width:42ch;
                    }
            }

            .main-left {
                width:100%;
            }

            
        }
    }

    @media (max-width:700px) {
        .wrapper {
            padding-inline:2rem;
        }
    }
    @media (max-width:600px) {

        & {
            background-image: linear-gradient(to top, #030303, #03030337 80%), url(../public/images/main-hero-image.png);

        }
        .wrapper {
            padding-inline:2rem;
            padding-top:0rem;
            height:90dvh;
            max-height:775px;
            justify-content: flex-end;
        }
    }
    @media (max-width:500px) {
        .wrapper {
            padding-inline:1rem;
        }
    }
}
@media  (max-width:600px) {
    .main-left-below-title {
        flex-direction: column;
        align-items: flex-start !important;
    }
}

// Welcome 

.welcome-section {
    .wrapper {
        display:flex;
        align-items: center;
        padding-block:12rem;

        .welcome-right {
            display:grid;
            grid-template-columns: 1fr 1fr;
            width:55%;

            .radius-image {
                border-radius:16rem;
                transform:translateX(4rem);
            }

            img {
                place-self:end;
                &:nth-child(1) {
                    margin-right:-4rem;
                    z-index:1;
                }
                &:nth-child(2) {
                    margin-left:-4rem;
                }
            }
        }

        .welcome-left {
            width:45%;
            display:flex;
            flex-direction: column;
            align-items: flex-start;
            gap:2rem;

            h2 {
                max-width:16ch;
            }

            & > p {
                max-width:32ch;
            }

            .two-icon-grid {
                display:grid;
                grid-template-columns: 1fr 1fr;
                gap:1rem;
            }

            .icon-card {
                display:flex;
                flex-direction: column;
                align-items: flex-start;
                gap:1rem;
            }
        }
    }
}

@media (max-width:1024px) {
    
    .welcome-section {
        .wrapper {
            flex-direction: column-reverse;
            gap:8rem;

            h2 {
                font-size:$mobile-h2;
                line-height:$mobile-h2 * 1.1;
        
                span {
                    line-height:$mobile-h2 * 1.1;
        
                }
            }

            

            .welcome-left,
            .welcome-right {
                width:100%;

                
            }
            

            .welcome-right {

               
                img {
                    &:nth-child(1) {
                        margin-right:-4rem;
                        width: calc(100% + 4rem);
                        z-index:1;
                        
                    }
                    &:nth-child(2) {
                        margin-left: -4rem;
                        width: calc(100% + 4rem);
                    }
                }
            }
        }
    }
}


@media (max-width:600px) {
    .two-icon-grid {
        grid-template-columns: 1fr !important;
        gap:4rem !important;

        p {
            max-width:32ch;
        }
    }
}

// Gallery 

.gallery-section {
    .wrapper {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        gap:8rem;
        overflow-x:hidden;

        .gallery-bottom {
            display:grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            width:max(125%, 800px);
            align-self:center;

            img {
                border-radius:16rem;
                transform:translateX(8rem)
            }
        }

        .gallery-top {
            display:flex;
            align-items: flex-end;
            justify-content: space-between;
            width:100%;

            .gallery-top-right {
                position:relative !important;

                .circle {
                    aspect-ratio:1;
                    background-color:$extra-light-blue;
                    border-radius:50%;
                    width:32rem;
                    position:absolute;
                    inset:0;
                    left:-30%;
                    top:-200%;
                    z-index:-1;
                }
            }

            h2 {
                max-width:25ch;
            }

            p {
                max-width:32ch;
            }
        }

       
    }

    @media (max-width:1024px) {
        .gallery-top {
            flex-direction: column;
            align-items: flex-start !important;
            gap:2rem;

            .gallery-top-right {
                align-items: flex-start;
                justify-content: flex-start;


            }
        }
    }

   
}

@media (max-width:600px) {
    h2 {
        font-size: $mobile-h2 !important;
    }
}


/* Center Grid Section */

.center-section {
    .wrapper {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:8rem;

        .center-titles {
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h2 {
                max-width:25ch;
                text-align:center;
            }
        }

        .center-grid {
            display:grid;
            width:100%;
            column-gap:1rem;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            .grid-item {
                background-color:$extra-light-blue;
                aspect-ratio:1/1;
                border-radius:50%;
                gap:1rem;
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                padding:1rem;


                

                p {
                    text-align:center;
                }
                .center-image {
                    width:60%;
                    border-radius:12rem;
                    transform:translateX(8rem);
                }

                .icon {
                    margin-top:3rem;
                    

                }

                &:nth-child(2) {
                    grid-row:span 2;
                    grid-column:span 2;
                    background-color:transparent;
                    place-self:center;
                    width:75%;
                    margin:0;

                    img {
                        margin-top:3rem;
                    }
                }
               
                    p {
                        font-weight:400;
                    }
                
                &:nth-child(6) {
                    background-color:transparent;
                }
                &:nth-child(7) {
                    grid-row:span 1;
                    grid-column:span 2;
                    width:50%;
                    place-self:center;
                    margin-top:-8rem;
                }
                &:nth-child(8) {
                    background-color:transparent;

                }
                &:nth-child(1), 
                &:nth-child(3), 
                &:nth-child(4), 
                &:nth-child(5),
                &:nth-child(7) {
                    transform:translateY(8rem);

                    p {
                        transform:translateY(2rem);

                    }
                }
            }
        }
    }
    @media (max-width:1200px) {
            .icon {
                margin-top:1rem !important;
            }

            .center-grid {
                row-gap:2rem;
            }
    }

    @media (max-width:967px) {
        .center-grid {
            grid-template-columns: 1fr 1fr !important;
            place-content:center;
            place-items:center;
            .grid-item {
                width:max(60%, 14rem) !important;

                &:nth-child(2),
                &:nth-child(6),
                &:nth-child(8) {
                    display:none;
                }
                &:nth-child(7) {
                    margin:0 !important;
                    width:max(25%, 14rem) !important;
                }
            }
        }
    }
}


// Contact Us

h2 {
    text-wrap:balance !important;
}

.contact-section {
    .circle-wrapper {
        display:flex;
        align-items: flex-start;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:4rem;
        background-color:$extra-light-blue;
        border-radius:50%;
        // aspect-ratio:1;
        padding-block:4rem !important;
        height:auto !important;

        .contact-left-titles {
            width:50%;
            align-items: center;
            justify-content: center;
            display:flex;
            flex-direction: column;


            h2 {
                text-align:center;
            }
        }

       

      
            
            form {
                width:50%;
                display:flex;
                flex-direction: column;
                align-items: flex-start;
                gap:1rem;

                fieldset {
                    border:none;
                    display:flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width:100%;
                    gap:0.5rem;
                    
                    input,
                    textarea {
                        padding:0.75rem;
                        width:100%;
                        background-color:white;
                        border:none;
                        border-radius:1rem;

                        &:focus {
                            outline:2px solid $light-blue;
                        }
                    }
                }

                button {
                    margin-top:1rem;
                }
            }
        }

        @media (max-width:1024px) {
            .circle-wrapper {

                .contact-left-titles {
                    width:70%;
                }

                form {
                    width:75%;
                }
            }
        }
        @media (max-width:929px) {
            .circle-wrapper {
             
                .contact-left-titles {
                    width:70%;
                }

                form {
                    width:75%;
                    
                }
            }
        }

        
        }


// Banner 

.banner {
    padding:0.5rem 4rem;
    gap:2rem;
    background-color:$extra-light-blue;
}

// Footer 

footer {
    .wrapper {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:4rem;
        .footer-top {
            width:100%;
            display:flex;
            align-items: flex-end;
            justify-content: space-between;
            gap:4rem;

            .footer-top-left {
                display:grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                column-gap:2rem;
                flex:1 0 0;

               

                .column {

                    ul {
                        display:flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap:1rem;
                    }
                   
                }

            }

            .footer-top-right {
                flex:0.5;
                img {
                    width:100%;
                }
            }
        }

        .footer-bottom {
            display:flex;
            align-items: center;
            justify-content: space-between;
            width:100%;
            border-top:0.5px solid black;
            padding-block-start:4rem;
            
            p {
                font-size:$tagline !important;
            }
        }
        
    }

    @media (max-width:1024px) {
        .footer-top-left {
            gap:4rem;
        }
        .column:nth-child(1) {
            grid-row:1;
        }
        .column:nth-child(2) {
            grid-row:2;
        }
        .column:nth-child(3) {
            grid-row:2;
        }
        .column:nth-child(4) {
            grid-row:2;
        }
    }

    @media (max-width:879px) {
        .footer-top-left {
            gap:4rem;
        }
        .column:nth-child(1) {
            grid-row:1;
        }
        .column:nth-child(2) {
            grid-row:2;
        }
        .column:nth-child(3) {
            grid-row:2;
        }
        .column:nth-child(4) {
            grid-row:2;
        }
        .footer-top-left {
            width:100%;
        }
        .footer-top {
            flex-direction: column;
            align-items: flex-start;
        }
        
    }
    
   
   
}
@media (max-width:546px) {
    .footer-top-left {
     grid-template-columns: 1fr !important;
     .column:nth-child(1) {
        grid-row:1;
    }
    .column:nth-child(2) {
        grid-row:2;
    }
    .column:nth-child(3) {
        grid-row:3;
    }
    .column:nth-child(4) {
        grid-row:4;
    }
     .column {
         width:100% !important;

         

         
     }
    }
 }




 html {
    overflow-x:hidden;
 }